aiofiles==0.3.1
appdirs==1.4.3
click==6.7
fuzzywuzzy==0.15.0
httptools==0.0.9
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
python-Levenshtein==0.12.0
requests==2.14.2
sanic==0.5.4
Sanic-Cors==0.5.4.1
six==1.10.0
ujson==1.35
uvloop==0.8.0
websockets==3.3
Werkzeug==0.12
